@model List<TalkingUADev.Areas.Identity.Data.UserApp>
<div class="col-md-6">
    <ul class="list-group">
        @if (Model.Count >0)
        {
            <h1>Result:</h1>
            <div class="subscribers">
                @foreach (var userItem in Model)
                {
                    <div class="subscriber">
                        <div class="nickname">
                            <div class="story">
                                <div>
                                    <div>
                                        @if (userItem.ImageTitle != null)
                                        {
                                            <img src="@($"/UsersAvatars/UserPostBy{userItem.Email}/{userItem.ImageTitle}")" alt="Photo: @userItem.Name" class="img-thumbnail">
                                        }
                                        else
                                        {
                                            <img src="@($"/Img/def_ava.png")" alt="Photo: @userItem.Name" class="img-thumbnail">
                                        }
                                    </div>
                                </div>
                            </div>
                            <p>@userItem.Name</p>
                        </div>
                        <div class="view-profile-btn">
                            <a href="@Url.Action("ViewProfileUser", "UserEvent", new { userId = userItem.Id })">
                                Переглянути
                            </a>
                        </div>
                    </div>
                    <div class="line"></div>
                }
            </div>
            @*@foreach (var userItem in Model)
            {
                <div class="list-group-item list-group-item-action">
                    <div class="row align-items-center">

                        <div class="col-md-3">
                             @if (userItem.ImageTitle != null)
                        {
                            <img src="@($"/UsersAvatars/UserPostBy{userItem.Email}/{userItem.ImageTitle}")" alt="Photo: @userItem.Name" class="img-thumbnail">
                        }
                        else
                        {
                            <img src="@($"/Img/def_ava.png")" alt="Photo: @userItem.Name" class="img-thumbnail">
                        }
                        </div>
                        <div class="col-md-9">
                            <h5 class="mb-0">Email: @userItem.Email</h5>
                            <p class="mb-0">Full name: @userItem.FullName</p>
                            <p class="mb-0">Subs: @userItem.CountSubs</p>
                            <p class="mb-0">Posts: @userItem.CountPosts</p>
                            <a href="/UserEvent/ViewProfileUser?userId=@userItem.Id" class="btn btn-primary">View profile</a>

                        </div>
                    </div>
                </div>
            }*@
        }
        else
        {
            <li class="list-group-item">User is not found</li>
        }
    </ul>
</div>