@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Messenger";
}
<link rel="stylesheet" href="~/css/styleMessenger.css">

@using TalkingUADev.Areas.Identity.Data;
@model TalkingUADev.Util.UtilChat
<div class="main-container">
    <div class="chat">
        <div class="side">
            <div class="nickname">
                <div>
                    <img src="@Model.mainUser.Image" alt="Avatar">
                </div>
                <p>@@@Model.mainUser.Name</p>
            </div>
            <div class="hr"></div>
            <div class="add-chat">
                <button>Додати чат</button>
            </div>
            <div class="users">
                @if (Model.chatRooms != null)
                {
                    @foreach (var item in Model.chatRooms)
                    {
                        <a href="Menu?RoomId=@item.ChatRoomId">
                        <div class="user">
                            <div>
                                <div class="avatar">
                                    <img src="~/Img/Avatar.png" alt="Avatar">
                                </div>
                                <div>
                                    <div class="nick">
                                        <p>@item.ChatRoomName</p>
                                    </div>
                                    <div class="message">
                                        <p>@Model.messages[Model.messages.Count - 1].MessageText</p>
                                    </div>
                                </div>
                            </div>
                            <div class="time">
                                    <p>@Model.messages[Model.messages.Count - 1].DateOfCreatingMessage.ToString("HH:mm")</p>
                            </div>
                        </div>
                        </a>
                    }
                }
            </div>
        </div>
        <div class="main">
            <div class="interlocutor">
                <div>
                    <div class="active-avatar">
                        <img src="~/Img/Avatar.png" alt="Avatar">
                    </div>
                    <div>
                        <div class="active-nick">
                            <p>@@user35</p>
                        </div>
                        <div class="active-online">
                            <div></div>
                            <p>Невідомо</p>
                        </div>
                    </div>
                </div>
                <div class="active-time">
                    <p>20:46</p>
                </div>
            </div>
            <div class="conversation">
                <div class="messages">
                    @if (Model.messages != null)
                    {
                        @foreach (var item in Model.messages)
                        {
                            if (item.mainUserSender != Model.mainUser)
                            {
                                <div class="their-message">
                                    <div class="img">
                                        <img src="@item.mainUserSender.Image" alt="Avatar">
                                    </div>
                                    <div class="message">
                                        <p>@item.MessageText</p>
                                    </div>
                                    <div class="time">
                                        <p>@item.DateOfCreatingMessage.ToString("HH:mm")</p>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="our-message">
                                    <div class="img">
                                        <img src="@item.mainUserSender.Image" alt="Avatar">
                                    </div>
                                    <div class="message">
                                        <p>@item.MessageText</p>
                                    </div>
                                    <div class="time">
                                        <p>@item.DateOfCreatingMessage.ToString("HH:mm")</p>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
                <div class="hr"></div>
                @if (Model.chatRooms != null)
            {
                    <form class="form-message" method="post" action="AddingNewMessage">
                        <div class="input">
                            <textarea type="text" class="form-control" name="message" placeholder="Введіть повідомлення"></textarea>
                            <div class="line"></div>
                            <input type="hidden" name="chatId" value="@Model.someChat.Id" />
                            <button type="submit" class="submit">Надіслати</button>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery-3.6.3Master.min.js"></script>
<script src="~/js/scriptMessenger.js"></script>

@*<!--
<div class="container">
    <div class="row">
        <div class="col-md-3 col-lg-2 user-list" >
            <div class="list-group">
                @if (Model.chatRooms != null)
                {
                    @foreach (var item in Model.chatRooms)
                    {
                        <a href="Menu?RoomId=@item.ChatRoomId" class="list-group-item active">@item.ChatRoomName</a>
                    }
                }
                <button type="button" class="btn btn-primary" style="background-color:#070707; color:orange" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="bi bi-plus-lg"></i> Добавить чат
                </button>
            </div>
        </div>
        <div class="col-md-9 col-lg-10" id="someChats">
            <div class="chat-box2" id="messages-box2">
                @if (Model.messages != null)
                {
                    @foreach (var item in Model.messages)
                    {
                        if (item.mainUserSender != Model.mainUser)
                        {
                            <div class="chat-message incoming-message">
                                <img src="@item.mainUserSender.Image" style="width:50px; height:50px;" alt="SecUser" class="rounded-circle me-2">
                                <span>@Html.ActionLink('@'+item.mainUserSender.Name,"ViewProfileUser","UserEvent",new {userId = item.mainUserSender.Id});</span>
                                <div>
                                    <span class="message-meta">@item.DateOfCreatingMessage.ToString("dd.MM.yyyy/HH:mm")</span>
                                    <p>@item.MessageText</p>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="chat-message outgoing-message">
                                <img src="@item.mainUserSender.Image" style="width:50px; height:50px;" alt="SecUser" class="rounded-circle me-2">
                                <span>@Html.ActionLink('@'+item.mainUserSender.Name,"ViewProfileUser","UserEvent",new {userId = item.mainUserSender.Id});</span>
                                <div>
                                    <span class="message-meta">@item.DateOfCreatingMessage.ToString("dd.MM.yyyy/HH:mm")</span>
                                    <p>@item.MessageText</p>
                                </div>
                                
                                
                            </div>
                        }

                    }
                }
               
               
               

            </div>
            @if (Model.chatRooms != null)
            {
                <form class="form-message" method="post" action="AddingNewMessage">
                    <input type="text" class="form-control" name="message" placeholder="Type your message here...">
                    <input type="hidden" name="chatId" value="@Model.someChat.Id" />
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            }
            
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добавить новый чат</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="AddingNewChat" name="myForm" onsubmit="return validateFormEmpty()">
                    <div class="mb-3">
                        <label for="chatName" class="col-form-label">Имя чата:</label>
                        <input type="text" class="form-control" name="name" id="chatName">
                    </div>
                    <div class="mb-3">
                        <label for="userName" class="col-form-label">Имя пользователя:</label>
                        <input type="text" class="form-control" name="SecondUserName" id="userName">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-primary" id="Button-for-adding-new-chat">Добавить</button>
                    </div>
                </form>
            </div>
           
        </div>
    </div>
</div>
-->
*@


<script>
    function validateFormEmpty() {
        console.log("validateFormEmpty called");
        var chatName = document.getElementById("chatName").value;
        var userName = document.getElementById("userName").value;
        if (chatName == "" || userName == "") {
            alert("You need to set all fields");
            return false;
        }else{
            if (chatName.length > 18) {
                alert("Name of chat need get less than 18 symbols");
                return false;
            }
            if (userName.length > 18) {
                alert("UserName need get less than 18 symbols");
                return false;
            }
            }
        }

    var objDiv = document.getElementById("messages-box");
    objDiv.scrollTop = objDiv.scrollHeight;

</script>