@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Мої підписники";
}
@model List<TalkingUADev.Areas.Identity.Data.UserApp>
<link rel="stylesheet" href="~/css//styleFollowers.css">
<div class="main">
    <div class="container">
        <h1>Ваші підписники</h1>
        <div class="hr"></div>
        <div class="subscribers">
            @foreach (var userItem in Model)
            {
                <div class="subscriber">
                    <div class="nickname">
                        <div class="story">
                            <div>
                                <div>
                                    <img src="@userItem.Image" alt="Avatar">
                                </div>
                            </div>
                        </div>
                        <p>@userItem.Name</p>
                    </div>
                    <div class="view-profile-btn">
                        <a href="@Url.Action("ViewProfileUser", "UserEvent", new { userId = userItem.Id })">
                            Переглянути профіль
                        </a>
                    </div>
                </div>
                <div class="line"></div>
            }
        </div>
    </div>
</div>
<script src="~/js/scriptFollowers.js"></script>

@*@model List<TalkingUADev.Areas.Identity.Data.UserApp>
<div class="container mt-3">
    <h1>My subscribers</h1>
    <hr>
    <div class="container">
        <div class="row">
            @foreach (var userItem in Model)
            {
                <div class="col-9">
                    <div class="card mb-3">
                        <div class="card-body d-flex align-items-center">
                            <img src="@userItem.Image" class="rounded-circle me-3" width="50" height="50" />
                            <div>
                                <h5 class="card-title">@userItem.Email</h5>
                                <p class="card-text">@userItem.Name</p>
                            </div>
                            <div class="ms-auto">
                                <a href="@Url.Action("ViewProfileUser", "UserEvent", new { userId = userItem.Id })" class="btn btn-primary">Check account</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
*@