@model TalkingUADev.Areas.Identity.Data.UserApp
<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col-md-6">
            <form method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search" name="UserName" aria-label="Search" aria-describedby="button-search">
                    <button type ="submit" class="btn btn-primary" type="button" id="button-search">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center my-5">
        <div class="col-md-6">
            <ul class="list-group">
                @if (Model != null)
                {
                    <form id="search-form" method="get" action="ViewProfileUser">
                    <div class="list-group-item list-group-item-action">
                        <div class="row align-items-center">
                            <div class="col-md-3">
                                <img src="@Model.Image" alt="Photo: @Model.Name" class="img-thumbnail">
                            </div>
                            <div class="col-md-9">
                                <h5 class="mb-0">Email: @Model.Email</h5>
                                <p class="mb-0">Full name: @Model.FullName</p>
                                <p class="mb-0">Subs: @Model.CountSubs</p>
                                <p class="mb-0">Posts: @Model.CountPosts</p>
                                <input type="hidden" name="userId" value="@Model.Id"/>
                                <button type="submit" class="btn btn-primary" form="search-form">View Profile</button>


                            </div>
                        </div>
                    </div>
                    </form>
                }else{
                    <li class="list-group-item">User is not found</li>
                }
             
            </ul>
        </div>
    </div>
</div>