@{
    Layout = "_Layout";
}

@model TalkingUADev.Util.UtilUserPost
@using TalkingUADev.Models
<link rel="stylesheet" href="~/css/styleViewProfileUser.css">

<div class="main">
    <div class="container">
        <div class="head">
            <div class="nick">
                <div>
                    <img src="@Model.GetUserAppUtil().Image" alt="Avatar">
                </div>
                <p>@@@Model.GetUserAppUtil().Name</p>
            </div>
            <div class="info">
                <div class="subscribes">
                    <p>@Model.GetUserAppUtil().CountFollows</p>
                    <p>Підписок</p>
                </div>
                <div class="reader">
                    <p>@Model.GetUserAppUtil().CountSubs</p>
                    <p>Підписників</p>
                </div>
                <div class="count-post">
                    <p id="posts_count">@Model.GetUserAppUtil().CountPosts</p>
                    <p>Публікації</p>
                </div>
            </div>
            <form action="FollowToUser" method="post">
                <div class="button">
                    <input type="hidden" name="userId" value="@Model.GetUserAppUtil().Id" />
                    @{
                        if (!Model.GetUserIsFollowed())
                        {
                            <button type="submit" class="follow">Підписатися</button>
                        }
                        else
                        {
                            <button type="submit" class="unfollow">Відписатися</button>
                        }
                    }
                </div>
            </form>
        </div>
        <div class="hr"></div>
        <div class="posts">
            @{
                if (Model.GetUserPostUtil().Count >= 1)
                {
                    @foreach (UserPost item in Model.GetUserPostUtil())
                    {
                        <div class="post">
                            <a href="@Url.Action("GetPublication", "Home", new {Id = item.UserPostId})" class="btn btn-primary">
                                <img src="@item.Image" alt="Post">
                            </a>
                        </div>
                    }
                }
                else
                {
                    <h3>Add some posts</h3>
                }
            }

        </div>
    </div>
</div>
<script src="~/js/jquery-3.6.3Master.min.js"></script>
<script src="~/js/scriptViewProfile.js"></script>