@model TalkingUADev.Util.UtilPostLike
<div class="container">
    <form method="get" action="/UserEvent/LikePost">
        <div class="row">
            <div class="col-md-4">
                <img src="@Model.userPost.Image" class="card-img-top shadow" alt="Responsive image" />
            </div>
            <div class="col-md-8">
                <h5 class="card-title fs-5">@Model.userPost.Name</h5>
                <p class="card-title fs-6">@Model.userPost.Desc</p>
                <p class="card-title fs-6">Tags: @Model.userPost.Tags</p>
                <p class="card-title fs-6">Likes: @Model.userPost.Likes</p>
            </div>
        </div>
        <input type="hidden" name="postId" value="@Model.userPost.UserPostId" />
        <button type="submit" class="btn btn-success">Like</button>
    </form>

</div>