@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "View Post";
}

@model TalkingUADev.Util.UtilPostLike;
<link rel="stylesheet" href="~/css/styleViewPost.css">
<div class="main">
    <div class="container">
        <div class="wrapper">
            <div class="posts">
                <div class="post">
                    <div class="nickname">
                        <div class="story">
                            <div>
                                <img src="@Model.userPost.user.Image" />
                            </div>
                        </div>
                        <p>@@@Model.userPost.user.Name</p>
                    </div>
                    <div class="photo">
                        <img src="@Model.userPost.Image" />
                    </div>
                    <div class="description">
                        <div class="head">
                            <h1>@Model.userPost.Name</h1>
                            <div class="hr"></div>
                            <div class="desc">
                                @Model.userPost.Desc
                                <p class="tags">@Model.userPost.Tags</p>
                            </div>
                        </div>
                        <div class="foot">
                            <p>Комантарі</p>
                            <div class="comments">
                                @foreach (var comment in Model.postComments)
                                {
                                    <div class="comment">
                                        <a href="/UserEvent/ViewProfileUser?userId=@comment.userApp.Id"><p>@@@comment.userApp.Name</p></a>
                                        <p>@comment.TextMessage</p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="input-comment">
                        <form onsubmit="return validateForm();" method="post" action="/UserEvent/WriteComment">
                            <div>
                                <input type="hidden" name="postId" value="@Model.userPost.UserPostId" />
                                <textarea name="textMessage" id="textMessage" placeholder="Ваш коментар"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Comment</button>
                        </form>
                    </div>
                    <div class="likes-info">
                        <div class="line"></div>
                        <div class="likes like-button" style="cursor:pointer" data-post-id="@Model.userPost.UserPostId">
                            <img src="~/Img/Like.png" alt="Like">
                            <p class="like-count"> @{await Html.RenderPartialAsync("_PartialCountLikes",Model.userPost);}</p>
                            <p>вподобайок</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery-3.6.3Master.min.js"></script>
<script src="~/js/scriptViewPost.js"></script>

<script>
    $(document).ready(function () {
        $('.like-button').click(function () {
            var postId = $(this).data('post-id');
            var button = $(this);

            $.ajax({
                type: "POST",
                url: '@Url.Action("LikePost", "UserEvent")',
                data: { postId: postId },
                success: function (result) {
                    $('#partial-count-likes-' + postId).html(result);
                }
            });
        });
    });

</script>
