@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "News Page";
}
@model TalkingUADev.Util.UtilAllPostProp
<link rel="stylesheet" href="~/css/styleNews.css">

<div class="container">
    <div class="stories">
        <div class="my-story">
            <div>

                <div>
                    <a class="story-link" href="@Url.Action("ViewStories","Story",new {UserId = Model.user.Id})">
                        @if (Model.user.ImageTitle != null)
                        {
                            <img src="@($"/UsersAvatars/UserPostBy{Model.user.Email}/{Model.user.ImageTitle}")" alt="">
                        }
                        else
                        {
                            <img src="@($"/Img/def_ava.png")" alt="">
                        }
                    </a>
                </div>

                <div class="online">
                </div>

            </div>

            <p>@@@Model.user.Name</p>
        </div>
        <div class="last-stories">
            @foreach (var follower in Model.followUsers)
            {
                <div class="story">
                    <div>
                        <div id="stories-list-In">
                            <a class="story-link" href="@Url.Action("ViewStories","Story",new {UserId = follower.Id})">
                                @if (follower.ImageTitle != null)
                                {
                                    <img src="@($"/UsersAvatars/UserPostBy{follower.Email}/{follower.ImageTitle}")" alt="">
                                }
                                else
                                {
                                    <img src="@($"/Img/def_ava.png")" alt="">
                                }

                            </a>
                        </div>
                    </div>


                    <p>@@@follower.Name</p>
                </div>

            }
        </div>
        <div id="openModal" class="modal">
            <div class="modal-dialog" tabindex="0">
                <div class="modal-content" id="stories-list-Out" tabindex="0">




                </div>
            </div>
        </div>
        <div class="gradient">
        </div>
    </div>
    <div class="hr"></div>
    <div class="wrapper">
        <div class="posts">
            @{
                if (Model.userPosts.Count() < 1)
                {
                    <h3 class="card-text">You need to subscribe to someone</h3>
                }
                else
                {
                    @foreach (UserPost post in Model.userPosts)
                    {
                        <div class="post">
                            <div class="nickname">
                                <div class="story">
                                    <div>
                                        <div>
                                            @if (post.user.ImageTitle != null)
                                            {
                                                <img src="@($"/UsersAvatars/UserPostBy{post.user.Email}/{post.user.ImageTitle}")" alt="">
                                            }
                                            else
                                            {
                                                <img src="@($"/Img/def_ava.png")" alt="">
                                            }
                                        </div>
                                    </div>
                                </div>
                                <a href="@Url.Action("ViewProfileUser", "UserEvent", new {userId = post.user.Id})">
                                    <p>@@@post.user.Name</p>
                                </a>
                            </div>
                            <div class="photo">

                                @if (post.ImageTitle != null)
                                {
                                    <a href="@Url.Action("GetPublication", "Home", new {Id = post.UserPostId})">
                                        <img src="@($"/UsersStaticFiles/UserPostBy{post.user.Email}/{post.ImageTitle}")" alt="Post">
                                    </a>
                                }
                                else
                                {
                                    <img src="~/Img/error_image.png" alt="Post">
                                }


                            </div>
                            <div class="description">
                                <div class="head">
                                    <h1>@post.Name</h1>
                                    <div class="hr"></div>
                                    <div class="desc">
                                        @post.Desc
                                        <p class="tags">@post.Tags</p>
                                    </div>
                                </div>
                                <div class="foot">
                                    <p>Комантарі</p>
                                    <div class="comments">

                                        @if (Model.userComments.Count > 0)
                                        {
                                            @foreach (var comment in Model.userComments.Where(x => x.ToPostId == post.UserPostId))
                                            {
                                                <div class="comment">
                                                    <a href="@Url.Action("ViewProfileUser", "UserEvent", new {userId = comment.userApp.Id})">
                                                        <p>@comment.userApp.Name</p>
                                                    </a>
                                                    <p>@comment.TextMessage</p>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <p>Поки немає коментаріїв, але ти можеш добавити)</p>
                                        }


                                    </div>
                                </div>
                            </div>
                            <div class="likes-info">
                                <div class="line"></div>
                                <div class="likes">
                                    <img src="~/Img/Like.png" style="cursor:pointer" alt="Like" class="like-image" data-post-id="@post.UserPostId">
                                    @{
                                        await Html.RenderPartialAsync("_PartialCountLikes", post);
                                    }
                                    <p>вподобайок</p>
                                </div>
                            </div>
                        </div>
                    }

                }
            }

        </div>
    </div>
</div>

<script src="~/js/jquery-3.6.3Master.min.js"></script>
<script src="~/js/scriptNews.js"></script>

<script>
    $(document).ready(function() {
        $('.like-image').click(function() {
            var postId = $(this).data('post-id');
            $.ajax({
                type: "POST",
                url: '@Url.Action("LikePost", "UserEvent")',
                data: { postId: postId },
                success: function(result) {
                    $('#partial-count-likes-' + postId).html(result);
                }
            });
        });
    });

</script>
<script>

    $(document).ready(function() {

        $('.story-link').on('click', function(e) {
            e.preventDefault();
            e.stopPropagation();
            var url = $(this).attr('href');
            $.ajax({
                type: 'GET',
                url: url,
                success: function(data) {
                    alert("story works");
                    $('#openModal').css("opacity", 1);
                    $('body').css("pointer-events", "none");
                    $('body').css("overflow", "hidden");
                    $('#stories-list-Out').html(data);
                    $('#openModal').css("marginLeft", "scrollbar");


                    //alert('success');

                },
                error: function() {
                    alert('User has not stories for now');
                }
            });

        });
        //$('#imgClose').on('click', function(e) {

        //    alert("close works");
        //    e.preventDefault();
        //    e.stopPropagation();
        //    $('#openModal').css("opacity", 0);
        //    $('body').css("overflow", "visible");
        //    $('#openModal').css("marginLeft", "0px");
        //});
    });

</script>

