@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "News Page";
}
@model TalkingUADev.Util.UtilAllPostProp
<link rel="stylesheet" href="~/css/styleNews.css">

<div class="container">
    <div class="stories">
        <div class="my-story">
            <div>
                <div><img src="@Model.user.Image" alt=""></div>
                <div class="online">
                    <div></div>
                </div>
            </div>
            <p>Сторіс</p>
        </div>
        <div class="last-stories">
            @foreach (var follower in Model.followUsers)
            {
                <div class="story">
                    <div>
                        <div>
                            <img src="@follower.Image" alt="">
                        </div>
                    </div>
                    <p>@@@follower.UserName</p>
                </div>
            }
        </div>
        <div class="gradient">
        </div>
    </div>
    <div class="hr"></div>
    <div class="wrapper">
        <div class="posts">
            @{
                if (Model.userPosts.Count() < 1)
                {
                    <h3 class="card-text">You need to subscribe to someone</h3>
                }
                else
                {
                    @foreach (UserPost post in Model.userPosts)
                    {
                        <div class="post">
                            <div class="nickname">
                                <div class="story">
                                    <div>
                                        <div>
                                            <img src="@post.user.Image" alt="">
                                        </div>
                                    </div>
                                </div>
                                <a href="@Url.Action("ViewProfileUser", "UserEvent", new {userId = post.user.Id})">
                                    <p>@@@post.user.Name</p>
                                </a>
                            </div>
                            <div class="photo">
                                <a href="@Url.Action("GetPublication", "Home", new {Id = post.UserPostId})">
                                    <img src="@post.Image" alt="Post">
                                </a>
                            </div>
                            <div class="description">
                                <div class="head">
                                    <h1>@post.Name</h1>
                                    <div class="hr"></div>
                                    <div class="desc">
                                        @post.Desc
                                        <p class="tags">@post.Tags</p>
                                    </div>
                                </div>
                                <div class="foot">
                                    <p>Комантарі</p>
                                    <div class="comments">
                                        
                                            @if (Model.userComments.Count > 0)
                                            {
                                                @foreach (var comment in Model.userComments.Where(x => x.ToPostId == post.UserPostId))
                                                {
                                                <div class="comment">
                                                    <a href="@Url.Action("ViewProfileUser", "UserEvent", new {userId = comment.userApp.Id})">
                                                        <p>@comment.userApp.Name</p>
                                                    </a>
                                                    <p>@comment.TextMessage</p>
                                                </div>
                                                }
                                            }
                                            else
                                            {
                                                <p>Поки немає коментаріїв, але ти можеш добавити)</p>
                                            }
                                        

                                    </div>
                                </div>
                            </div>
                            <div class="likes-info">
                                <div class="line"></div>
                                <div class="likes">
                                    <img src="~/Img/Like.png" style="cursor:pointer" alt="Like" class="like-image" data-post-id="@post.UserPostId">
                                     @{ await Html.RenderPartialAsync("_PartialCountLikes",post);}
                                    <p>вподобайок</p>
                                </div>
                            </div>
                        </div>
                    }

                }
            }
         
        </div>
    </div>
</div>

<script src="~/js/jquery-3.6.3Master.min.js"></script>
<script src="~/js/scriptNews.js"></script>

<script>
    $(document).ready(function () {
        $('.like-image').click(function () {
            var postId = $(this).data('post-id');
            $.ajax({
                type: "POST",
                url: '@Url.Action("LikePost", "UserEvent")',
                data: { postId: postId },
                success: function (result) {
                    $('#partial-count-likes-' + postId).html(result);
                }
            });
        });
    });
</script>


@{/*<div class="container my-5">
    @{
        if (Model.Count() < 1)
        {
            <h3 class="card-text">You need to subscribe to someone</h3>
        }
        else
        {
            <div class="row">
                @foreach (UserPost post in Model)
                {
                    <div class="col-md-12 my-3">
                        <div class="card h-100 border border-dark"  height: 300px;">
                            <img src="@post.Image" class="card-img-top" alt="photo: @post.Name">
                            <div class="card-body">
                                <h5 class="card-title" style="font-size: 28px;">Name: @post.Name</h5>
                                <p class="card-text" style="font-size: 24px;">Description: @post.Desc</p>
                                <p class="card-text" style="font-size: 20px;">Like: @post.Likes</p>
                                <p class="card-text"><small class="text-muted">Tags: @post.Tags</small></p>
                                <p class="card-text"><small class="text-muted">Date: @post.DateOfCreatingPost</small></p>
                                <a href="@Url.Action("GetPublication", "Home", new {Id = post.UserPostId})" class="btn btn-primary">View</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <hr />
        }
    }
</div>
*/
}