@{
    ViewData["Title"] = "News Page";
}
@model List<TalkingUADev.Models.UserPost>
<div class="container my-5">
    @{
        if (Model.Count() < 1)
        {
            <h3 class="card-text">You need to subscribe to someone</h3>
        }
        else
        {
            <div class="row">
                @foreach (UserPost post in Model)
                {
                    <div class="col-md-12 my-3">
                        <div class="card h-100 border border-dark"  height: 300px;">
                            <img src="@post.Image" class="card-img-top" alt="photo: @post.Name">
                            <div class="card-body">
                                <h5 class="card-title" style="font-size: 28px;">Name: @post.Name</h5>
                                <p class="card-text" style="font-size: 24px;">Description: @post.Desc</p>
                                <p class="card-text" style="font-size: 20px;">Like: @post.Likes</p>
                                <p class="card-text"><small class="text-muted">Tags: @post.Tags</small></p>
                                <p class="card-text"><small class="text-muted">Date: @post.DateOfCreatingPost</small></p>
                                <a href="@Url.Action("GetPublication", "Home", new {Id = post.UserPostId})" class="btn btn-primary">View</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <hr />
        }
    }
</div>